body {
	background-color: slategray;

}
.big-table {
	perspective:  1000px;
}



.the-table{
	background-color: #277714;
	border: 5px solid #dcdcdc;
	border-radius: 20px 20px 300px 300px;
	margin-top: 50px;
	padding: 30px 0px;
	position: relative;
	box-shadow: 0px 30px 0px 10px #23334c;
	
	



height: 550px;
  transform: rotateX(55deg);


}

.card{
	height: 150px;
	width: auto;
	text-align: center;
/* 	background-color: transparent;
 */	/* padding: 10px; */
	/* border: 2px solid #277714; */
	

}

.card img{
	max-height: 150px;
	width: auto;
	margin: auto;
	margin-left: -100px;
	margin-top: -100px;
		
}

.card-back {
	height: 100px;
}

.card-back img {
	

}
.dealer-position {
	display: inline-block;
	position: relative;
	height: 150px;
	margin-bottom: 20px;
}

#message {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-size: 72px;
	color: white;
	float: right;
	margin-top: -20px;
		
}
#card {
	display: inline-block;
	position: absolute;
	height: 150px;
	width: auto;
	margin: 10px;

}
.placeholder {
	height: 0px;
}

.bet {
	color: white;
}

.dealer-total {
	color: white;
}

.player-total {
	color:  white;
}

.btn {
	border-radius: 50%;
	box-shadow: 1px 2px black;
}

